* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body,
html,
#root,
.App,
main {
	height: 100%;
}

@font-face {
  font-family: 'Haas';
  src: url(../assets/fonts/Haas.otf);
  font-weight: 200;
}
